@tailwind components;

@layer components {
  .btn {
    @apply h-8 px-4 text-sm text-white bg-blue-500 rounded subpixel-antialiased font-sans;
  }

  .cover-img > div > div:first-child {
    min-height: 16rem;
  }

  .comment {
    @apply text-sm leading-snug;
  }

  .comment p {
    @apply mb-4;
  }

  .link {
    @apply text-blue-700 dark:text-blue-400 hover:underline !important;
  }

  .link:visited {
    @apply text-purple-600 dark:text-purple-400;
  }

  .form-field {
    @apply outline-none leading-none font-sans
      bg-gray-50 dark:bg-gray-950 focus:bg-white dark:focus:bg-black
      text-gray-500 focus:text-gray-800 dark:focus:text-gray-200
      border border-gray-400 dark:border-gray-800
      focus:border-gray-500 dark:focus:border-gray-600
      hover:border-gray-500 dark:hover:border-gray-600;
  }

  .map-container {
    margin-bottom: -14px;
    height: 75vh;
  }

  @screen lg {
    .map-container {
      height: 600px;
    }
  }

  .page-heading {
    @apply font-display text-2xl;
  }

  @screen md {
    .page-heading {
      @apply text-4xl;
    }
  }

  .page-wrap {
    @apply px-4 md:px-8 xl:px-12;
  }

  /* smartphones, touchscreens */
  @media (hover: none) and (pointer: coarse) {
    .pointer-only {
      pointer-events: none;
    }
  }

  .post {
    @apply text-base font-display leading-relaxed dark:text-gray-300;
  }

  .post a,
  .post *[style*='color: #3366ff'] {
    @apply link;
  }

  .post h1 {
    @apply mb-5 text-2xl;
    letter-spacing: 0.2em;
  }

  .post h2 {
    @apply sm:-mt-6 pb-4 lg:pb-8 font-display tracking-wider leading-loose;
  }

  .post h2 strong {
    font-size: 0;
    line-height: 0;
    @apply mt-4 sm:mt-8 flex flex-col items-start sm:block;
  }

  .post h2 strong a {
    letter-spacing: 3px;
    @apply text-lg sm:text-lg leading-relaxed mb-2;
  }

  @screen sm {
    .post h2 strong a::after {
      content: '/';
      color: inherit;
      @apply inline-block mx-4;
    }

    .post h2 strong a:last-child::after {
      content: none;
    }
  }

  .post h2 strong a:first-child {
    @apply ml-0;
  }

  .post hr {
    @apply my-6 dark:border-gray-800;
  }

  .post iframe {
    width: 100%;
  }

  .post img,
  .post iframe {
    @apply block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
      rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  }

  .post img.size-large {
    @apply mt-8;
  }

  .post p,
  .post ul {
    @apply mb-5 font-sans xl:font-serif;
  }

  .post span[style*='Georgia'] {
    font-family: inherit !important;
  }

  .post span[style*='25px'],
  .post span[style*='26px'],
  .post span[style*='27px'],
  .post span[style*='28px'] {
    @apply font-display tracking-widest !important;
  }

  .post > p:first-of-type {
    @apply text-base font-serif mt-10 dark:mt-3 dark:text-gray-400;
  }

  /* Images & captions */
  .post p > a[href$='.jpg'] {
    @apply block mb-2;
  }

  .post p > a[href$='.jpg'] ~ * {
    @apply text-sm block;
  }

  .post figcaption {
    @apply text-sm py-2 px-1 leading-tight;
  }

  .post span[style*='#333333'],
  .post span[style*='#000000'] {
    @apply dark:text-white !important;
  }

  .post span[style*='#808080'] {
    @apply text-gray-400 !important;
  }

  .post span[style*='#ff0000'] {
    @apply text-red-600 dark:text-red-500 !important;
  }

  .post strong {
    @apply text-black dark:text-white;
  }

  .post ul {
    @apply list-disc pl-8;
  }

  .post .aligncenter {
    @apply mx-auto;
  }

  .post .blocks-gallery-grid {
    @apply list-none pl-0;
    @apply grid gap-4 sm:grid-cols-2;
  }

  .post .blocks-gallery-item img {
    @apply block rounded;
  }

  /* .post .in_article_ad {
    @apply relative mb-6 p-3 pt-10 leading-loose text-sm text-gray-500 font-sans bg-gray-100 dark:bg-gray-900;
  }

  .post .in_article_ad hr {
    @apply hidden;
  }

  .post .in_article_ad > a {
    @apply absolute top-4 right-4 block leading-none;
  }

  .post .in_article_ad > small {
    @apply absolute top-4 left-4 block leading-none;
  }

  .post .in_article_ad_container {
    @apply mt-1 flex justify-center;
  } */

  .post .crp-list-title {
    @apply hidden;
  }

  .post .crp-list {
    @apply hidden;
  }

  .post .crp-list + div > a {
    color: inherit !important;
    @apply hover:no-underline !important;
  }

  .post .crp-list + div p {
    margin-bottom: 0 !important;
  }

  .post-card-img-fx {
    mask-image: linear-gradient(to top, black, black 50%, transparent);
  }

  .post-card-excerpt a {
    @apply hidden;
  }
}
