/**
 * Base styles
 */

.post {
  @apply pt-4 text-base font-display leading-relaxed dark:text-gray-300;
}
.post a {
  @apply link;
}
.post a[name] {
  scroll-margin-top: 6rem;
}
.post h1 {
  @apply mb-5 text-2xl;
  letter-spacing: 0.2em;
}
.post h2 {
  @apply sm:mt-8 pb-4 lg:pb-8 font-display tracking-wider leading-loose;
}
.post hr {
  @apply my-6 border border-gray-200 dark:border-gray-800;
  border-width: 0 0 1px;
}
.post iframe {
  width: 100%;
}
.post img,
.post iframe {
  @apply block rounded-sm;
  @apply dark:shadow-none !important;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
}
.post img.size-large {
  @apply mt-8;
}
.post p,
.post ul,
.post figure {
  @apply mb-5 font-sans md:font-serif;
}
.post figcaption {
  @apply block py-2 leading-tight font-bold text-sm text-center;
}
.post figure {
  @apply max-w-full !important;
}
.post span[style*='#333333'],
.post span[style*='#000000'] {
  @apply dark:text-white !important;
}
.post span[style*='#808080'] {
  @apply text-gray-400 !important;
}
.post span[style*='#ff0000'] {
  @apply text-red-600 dark:text-red-500 !important;
}
.post ul {
  @apply list-disc pl-8;
}
.post .aligncenter {
  @apply mx-auto mb-0;
}
.post .alignleft {
  @apply mx-auto mb-0 float-none md:float-left clear-both md:mr-8;
}
.post .alignright {
  @apply mx-auto mb-0 float-none md:float-right clear-both md:ml-8;
}
.post .blocks-gallery-grid {
  @apply list-none pl-0;
}
.post .blocks-gallery-item img {
  @apply block rounded;
}
.post .crp-list-title {
  @apply hidden;
}
.post .crp-list {
  @apply hidden;
}
.post .crp-list + div > a {
  color: inherit !important;
  @apply hover:no-underline !important;
}
.post .crp-list + div p {
  margin-bottom: 0 !important;
}
/* .post .wp-block-buttons {
  @apply block mb-6 py-4 px-6 md:w-80;
  @apply bg-gray-100 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded;
  @apply text-lg font-serif tracking-wide;
}
.post .wp-block-buttons::before {
  content: 'Contents';
  @apply block text-center mb-3 font-bold;
} */
.post .wp-block-buttons {
  @apply my-3;
}
.post .wp-block-button {
  @apply p-0 m-0;
}
.post .wp-block-button:not(:last-child)::after {
  content: '';
  @apply inline-block h-3 w-[2px] mx-4 bg-black dark:bg-white opacity-20;
}
.post .wp-block-button__link {
  @apply link p-0 bg-transparent text-lg tracking-widest leading-relaxed uppercase;
}

/**
 * Legacy styles
 */

.post-legacy *[style*='color: #3366ff'] {
  @apply link;
}
.post-legacy h2 strong {
  line-height: 0;
  font-size: 0;
  @apply sm:text-base mt-4 sm:mt-8 flex flex-col items-start sm:block text-gray-500;
}
.post-legacy h2 strong a {
  letter-spacing: 3px;
  position: relative;
  top: 1.5px;
  @apply text-lg sm:text-lg leading-relaxed mb-2 sm:mx-2;
}
.post-legacy h2 strong a:first-child {
  @apply ml-0;
}
.post-legacy span[style*='Georgia'] {
  font-family: inherit !important;
}
.post-legacy span[style*='25px'],
.post-legacy span[style*='26px'],
.post-legacy span[style*='27px'],
.post-legacy span[style*='28px'] {
  @apply font-display !important;
}
/* .post > p:first-of-type {
  @apply text-base font-serif mt-4 dark:text-gray-400;
} */
/* Images & captions */
.post-legacy p > a[href$='.jpg'] {
  @apply block mb-2;
}
.post-legacy p > a[href$='.jpg'] ~ * {
  @apply text-sm block text-center;
}

/**
 * "Next" styles
 */

.post-next h2 {
  @apply my-6 pb-0;
  @apply uppercase text-2xl text-center text-black dark:text-white;
  letter-spacing: 0.2em;
}
.post-next h3 {
  @apply my-6 pb-0;
  @apply text-xl text-black dark:text-white;
}
.post-next h2,
.post-next h3 {
  scroll-margin-top: 6rem;
}
@screen xl {
  .post-next h2,
  .post-next h3 {
    scroll-margin-top: 8rem;
  }
}
.post-next p,
.post-next ul {
  @apply mb-4;
}
.post-next .wp-block-image {
  @apply my-8;
}
.post-next .wp-block-button__link {
  @apply text-lg;
}
