@layer components {
  .post {
    @apply font-display leading-normal dark:text-gray-300;
  }

  .post a,
  .post span[style*='color: #3366ff'] {
    @apply text-blue-600 dark:text-blue-400 hover:underline !important;
  }

  .post h1 {
    @apply mb-5 text-2xl font-serif;
    letter-spacing: 0.2em;
  }

  .post h2 {
    @apply mt-0 mb-8 pb-8 font-serif tracking-wider leading-loose border-b dark:border-gray-700;
  }

  .post h2 strong {
    counter-reset: intro-links;
    font-size: 0;
    line-height: 0;
    @apply mt-4 sm:mt-1 flex flex-col items-start sm:block sm:text-base;
  }

  .post h2 strong a {
    counter-increment: intro-links;
    @apply text-base sm:text-lg leading-loose sm:mx-2 border-b-2 border-gray-300 dark:border-gray-700;
    @apply no-underline !important;
  }

  .post h2 strong a::before {
    content: counter(intro-links) '. ';
  }

  @screen sm {
    .post h2 strong a::before {
      content: none;
    }
  }

  .post h2 strong a:first-child {
    @apply ml-0;
  }

  .post hr {
    @apply my-6 dark:border-gray-800;
  }

  .post iframe {
    width: 100%;
  }

  .post img,
  .post iframe {
    @apply block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
      rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  }

  .post p,
  .post ul {
    @apply mb-4 font-serif;
  }

  .post > p:first-of-type {
    @apply text-base mt-8 mb-0;
  }

  /* Images & captions */
  .post p > a[href$='.jpg'] {
    @apply block mb-2;
  }

  .post p > a[href$='.jpg'] ~ * {
    @apply text-sm;
  }

  .post span[style*='color: #333333'],
  .post span[style*='color: #000000'] {
    @apply dark:text-white !important;
  }

  .post strong {
    @apply dark:text-white;
  }

  .post ul {
    @apply list-disc pl-12;
  }

  .post .aligncenter {
    @apply mx-auto;
  }

  .post .in_article_ad {
    @apply relative inline-block mb-6 leading-loose text-sm text-gray-500 font-sans;
  }

  .post .in_article_ad hr {
    @apply hidden;
  }

  .post .in_article_ad > a {
    @apply absolute top-0 right-0;
  }

  .post .in_article_ad_container {
    @apply mt-1 w-full;
  }

  .post .crp-list-title {
    @apply hidden;
  }

  .post .crp-list {
    @apply hidden;
  }
}
