@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900;
  }

  @screen dark {
    body {
      @apply text-gray-200 bg-gray-900;
    }
  }
}

@layer components {
  .link {
    @apply text-blue-600;
  }

  .link:hover {
    @apply underline;
  }

  @responsive {
    .backdrop-blur {
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
    }
  }

  @screen lg {
    .slider {
      height: 62vh;
    }
  }

  .slider-text h1 {
    @apply mb-1;
    font-size: 150%;
  }

  .slider-text h2 {
    @apply mb-1;
    font-size: 125%;
  }

  .slider-text h3 {
    font-size: 110%;
  }

  .slider-text h4 {
    font-size: 100%;
  }

  .slider-text h5 {
    font-size: 90%;
  }

  .slider-text h6 {
    @apply mb-1;
    font-size: 80%;
  }

  /* smartphones, touchscreens */
  @media (hover: none) and (pointer: coarse) {
    .pointer-only {
      pointer-events: none;
    }
  }

  .section-heading {
    @apply px-4 text-lg font-display;
  }

  @screen sm {
    .section-heading {
      @apply text-xl;
    }
  }

  @screen md {
    .section-heading {
      @apply text-2xl;
    }
  }

  @screen lg {
    .section-heading {
      @apply px-8 text-3xl;
    }
  }

  .browse-link {
    --gradient-from-color: rgba(0, 0, 0, 0.1);
    --gradient-color-stops:
      var(--gradient-from-color),
      var(--gradient-to-color, rgba(255, 255, 255, 0));
    text-shadow: 1px 1px 1px black;
  }
}
